body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #000;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-style: normal;
}
header h1 {
    text-align: center;
    font-size: 2.2rem;
    color: #f0d90a;
    margin-bottom: 25px;
     text-shadow: 3px 3px 12px rgb(243, 194, 58);
}

.container {
    position: relative;
    text-align: center;
}

.coin {
    position: relative;
    width: 300px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 5s;
    margin: 0 auto 20px;
}

.coin div {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 50%;
    overflow: hidden;
}

.coin .heads {
    transform: translateZ(1px);
}

.coin .tails {
    transform: rotateY(180deg) translateZ(1px);
}

.coin.flipping {
    transform: rotateY(9000deg);
}

img {
    width: 100%;
    height: 100%;
}

.stats {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.buttons button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-style: normal;
    letter-spacing: 3px;
}

.buttons button:hover {
    background-color: #45a049;
}

/* Result Text Animation */
#result-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4rem;
    font-weight: bold;
    color: rgba(255, 7, 7, 0.945);
    text-shadow: 3px 3px 12px rgb(255, 255, 255);
    opacity: 0;
    pointer-events: none; /* So it doesn't interfere with clicks */
    z-index: 10;
    letter-spacing: 3px;
}

#result-text.show {
    animation: zoom-out-disappear 3s ease-out forwards, glitter 0.5s ease-in-out infinite;
}

@keyframes zoom-out-disappear {
    0% {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    20% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 1;
    }
    70% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, -50%) scale(2.5);
        opacity: 0;
    }
}

@keyframes glitter {
    0% {
        text-shadow: 3px 3px 12px rgb(255, 255, 255);
    }
    50% {
        text-shadow: 3px 3px 16px rgb(255, 230, 150), 0 0 5px #fff;
    }
    100% {
        text-shadow: 3px 3px 12px rgb(255, 255, 255);
    }
}
